:root {
    --branco: #f9fafb;
    --preto: #1d1e20;
    --titulo: 'AnimeAce', Arial, Helvetica, sans-serif;
    --corpo: 'ClassicComic', Arial, Helvetica, sans-serif;
}

/* Fonte para TÍTULO */
@font-face {
    font-family: 'AnimeAce';
    src: url('assets/fonts/AnimeAce20BB.woff2') format('woff2'),
    url('assets/fonts/AnimeAce20BB.woff') format('woff');
}

/* Fonte para CORPO */
@font-face {
    font-family: 'ClassicComic';
    src: url('assets/fonts/ClassicComic.woff2') format('woff2'),
    url('assets/fonts/ClassicComic.woff') format('woff');
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    scroll-margin-top: 3rem;
}

.none {
    display: none !important;
}