@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cinzaEscuro: #0b0e23;
    --azulBack: #121954;
    --azulEscuro: #102364;
    --azulEscuro2: #1c3179;
    --azul: #50a4f4;
    --azulClaro: #6bb4e9;
}