

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--corpo);
    background-color: var(--branco);
    color: var(--preto);
}

header {
    position: relative;
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.5rem;
    border-bottom: 2px solid var(--preto);
}

    header .opcoes {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 10rem;
        border: 1px solid var(--preto);
        background-color: var(--branco);
        text-align: center;
        right: 0;
        top: 0;
        transform: translateY(calc(3rem - 2px));
        z-index: 3;
    }

        header .opcoes a {
            padding: 0.5rem;
            border: 1px solid var(--preto);
        }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .fraseIdeias {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18rem;
        height: 18rem;
        overflow: hidden;
    }

        .fraseIdeias .marcaTexto {
            position: absolute;
            z-index: -1;
        }

        .fraseIdeias img {
            width: 100%;
        }

        .fraseSVG {
            z-index: 2;
        }

        .fraseIdeias .mt1::after {
            content: '';
            background-color: var(--branco);
            width: 20rem;
            height: 9rem;
            position: absolute;
            left: -5%;
            top: -10%;
            transform: rotate(-25deg);
            animation: marcaTexto1 linear 1.5s 1s forwards;
            z-index: 0;
        }

            @keyframes marcaTexto1 {
                for {
                    transform: translateX(0) translateY(0) rotate(-25deg);
                }

                to {
                    transform: translateX(100%) translateY(-90%) rotate(-35deg);
                }
            }

        .fraseIdeias .mt2::after {
            content: '';
            background-color: var(--branco);
            width: 18rem;
            height: 3rem;
            position: absolute;
            left: 0;
            top: 70%;
            animation: marcaTexto2 linear 4s 3s forwards;
        }

            @keyframes marcaTexto2 {
                for { transform: translateX(0) }
                to { transform: translateX(100%) }
            }



    /* Estilos para as caixas */
    .caixa {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .sombra {
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin: 4px 0 0 4px;
    }

    .itensCaixas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 1.9rem;
    }

        .itensCaixas .item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 8rem;
            height: 6.5rem;
        }

            .itensCaixas h2 {
                font-family: var(--corpo);
                font-weight: normal;
                font-size: 0.7rem;
                text-align: center;
                margin: 0.5rem 0 0 0;
            }

            .itensCaixas .icone {
                width: 70%;
            }

            .itensCaixas .marcaTexto {
                opacity: 0;
            }


    .botaoContratar {
        position: relative;
        width: 15rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

        .botaoContratar .marcaTexto {
            position: absolute;
            top: 0;
            left: 0;
        }

        .botaoContratar span {
            z-index: 1;
            font-family: var(--titulo);
            font-size: 1.1rem;
        }


    .saberMais {
        margin: 0.5rem 0 2rem 1rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--preto);
    }

        .saberMais img {
            height: 2rem;
        }

        
    .divisorPreto {
        margin-top: 1rem;
        margin-bottom: -1px;
        width: 100%;
    }

    .portfolio {
        background-color: var(--preto);
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--branco);
    }

        .portfolio .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.7rem;
        }

            .portfolio .titulo h2  {
                font-size: 0.8rem;
                font-weight: 100;
                margin: 0.3rem 0;
            }

            .portfolio .titulo h1  {
                font-family: var(--titulo);
                font-size: 1.3rem;
                margin: 0;
            }


        .portfolio .subtitulo {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 80%;
            margin-top: 3rem;
        }

            .portfolio .icon {
                width: 4.5rem;
            }

            .portfolio h3 {
                font-family: var(--titulo);
                font-weight: normal;
                font-size: 1.2rem;
                margin: 0 auto 0 0;
            }


        .portfolio .item {
            position: relative;
            width: 19rem;
            height: 21.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: var(--preto);
            gap: 1rem;
            margin-bottom: 5rem;
            z-index: 1;
        }

        .portfolio .sombra {
            margin: 8px 0 0 8px;
        }

            .portfolio .imagemCapa {
                position: relative;
                width: 15rem;
                height: 8rem;
                margin-top: 2rem;
            }

                .portfolio .imagemCapa img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 100%;
                }

                .portfolio .item .mask {
                    -webkit-mask-image: url('assets/svg/imagemClip.svg');
                    mask-image: url('assets/svg/imagemClip.svg');
                }

                .portfolio .contorno {
                    z-index: 1;
                }
            
            .portfolio h2 {
                font-weight: normal;
                font-size: 1rem;
                margin: 0;
            }

            .portfolio span {
                font-size: 0.7rem;
                width: 80%;
            }

            .portfolio .botaoAcessar {
                text-decoration: none;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 2.5rem;
                margin: auto 0 3rem 0;
                color: var(--branco);
            }

                .portfolio .botaoAcessar span {
                    z-index: 1;
                }


    .visualizadorImagens {
        z-index: 2;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #242424a9;
        color: var(--branco);
        
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

        .visualizadorImagens .fechar {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 100;
            text-align: left;
            width: 70%;
        }

        .visualizadorImagens .iconFechar {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .visualizadorImagens img {
            max-width: 80%;
            max-height: 80%;
        }

    .inferior {
        margin-bottom: 4rem;
    }


    footer {
        background-color: var(--preto);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 2rem 1rem 5rem 1rem;
        text-align: center;
        gap: 1rem;
    }

        footer img {
            filter: brightness(50);
            width: 8rem;
        }


    /* Classes globais: */
    .espelhar {
        transform: scaleX(-1);
    }

    .custom-cursor {
        width: 20px;
        height: 20px;
        background-color: red; /* Cor do cursor */
        border-radius: 50%;
        position: fixed;
        pointer-events: none; /* Evita interferência nos cliques */
        transform: translate(-50%, -50%);
        transition: transform 0.1s linear;
    }
    



/* @media (min-width: 768px) { */

    .item *, .botaoContratar *, .subtitulo .icon {
        transition: all 0.5s ease;
    }

    .itensCaixas .item:hover *:not(.sombra) {
        transform: scale(1.1) translateX(-8px) translateY(-8px);
    }

    .itensCaixas .item:hover .marcaTexto {
        opacity: 1;
    }

    .botaoContratar:hover *:not(.sombra) {
        transform: scale(1.1) translateX(-8px) translateY(-8px);
    }

    .subtitulo:hover .icon {
        transform: rotate(-15deg) scale(1.1);
    }
/* 
    .itensLinks {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-between;
    } */

/* } */