body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--corpo);
    background-color: var(--branco);
    color: var(--preto);

    background: radial-gradient(circle, #ececec 15%, transparent 15%) 0 0 / 8px 8px;
}

header {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
    border-bottom: 2px solid var(--preto);
    z-index: 3;
}

    header .links {
        display: none;
    }

    header .barraMobile {
        display: block;
    }

    header .opcoes {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 10rem;
        border: 1px solid var(--preto);
        background-color: var(--branco);
        text-align: center;
        right: 0;
        top: 0;
        transform: translateY(calc(4rem - 2px));
        z-index: 3;
    }

        header .opcoes a {
            padding: 0.5rem;
            border: 1px solid var(--preto);
        }


main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .inicio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .titulo {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
        }

            .titulo h1 {
                margin: 0;
                font-size: 1.3rem;
                color: var(--azul);
            }

            .titulo .lettering {
                width: 100%;
                margin-top: -1.5rem;
            }

            .titulo h2 {
                margin: 0.5rem 0 1rem 0;
            }

            .titulo span {
                text-align: center;
            }

        .imagemPrincipal {
            display: none;
        }


    .botaoContratar {
        position: relative;
        color: var(--preto);
        width: 15rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        z-index: 1;
    }

    .botao img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

        .botaoContratar span {
            z-index: 1;
            font-family: var(--titulo);
            font-size: 1.1rem;
            margin: 5px 0 0 9px;
        }

        .margemSpan {
            margin: 0 5px 9px 0 !important;
        }

    .iconsTrabalhos {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        row-gap: 1rem;
    }

        .iconsTrabalhos .item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 11rem;
            height: 8.5rem;
            gap: 1rem;
        }

            .iconsTrabalhos .item .caixa {
                margin: 10px 0 0 2px;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            .iconsTrabalhos .item span {
                font-size: 0.7rem;
            }

        
    /* .divisorPreto {
        margin-top: 1rem;
        margin-bottom: -1px;
        width: 100%;
        display: flex;
    }

        .divisorPreto img {
            width: 100%;
        }

        .divisorPreto .divisor2 {
            display: none;
        } */


    .portfolio {
        background-color: var(--azul);
        width: 100%;
        border-top: 3px solid var(--azulEscuro);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--branco);
        margin-top: 3rem;
    }

        .portfolio .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.7rem;
        }

            .portfolio .titulo h2  {
                font-size: 0.8rem;
                font-weight: 100;
                margin: 0.3rem 0;
            }

            .portfolio .titulo h1  {
                color: white;
                font-family: var(--titulo);
                font-size: 1.3rem;
                margin: 0;
            }


        .portfolio .subtitulo {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 80%;
            margin: 1.5rem 0;
        }

            .portfolio .icon {
                width: 2rem;
                filter: brightness(50);
            }

            .portfolio h3 {
                font-family: var(--titulo);
                font-weight: normal;
                font-size: 1.2rem;
                margin: 0 auto 0 0;
            }


        .portfolio .item {
            position: relative;
            width: 19rem;
            height: 21.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: var(--preto);
            gap: 1rem;
            margin-bottom: 4rem;
            z-index: 1;
        }

            .portfolio .item .caixa {
                position: absolute;
                z-index: -1;
                margin: 4px 0 0 10px;
            }

            .portfolio .imagemCapa {
                position: relative;
                width: 15rem;
                height: 8rem;
                margin-top: 1rem;
            }

                .portfolio .imagemCapa img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 100%;
                }

                .portfolio .item .mask {
                    -webkit-mask-image: url('assets/svg/TEMPORARIO/bordaImagemClip.svg');
                    mask-image: url('assets/svg/TEMPORARIO/bordaImagemClip.svg');
                }

                .portfolio .contorno {
                    z-index: 1;
                }
            
            .portfolio h2 {
                font-weight: normal;
                font-size: 1rem;
                margin: 0;
                width: 90%;
            }

            .portfolio span {
                font-size: 0.7rem;
                width: 80%;
            }

            .portfolio .botaoAcessar {
                text-decoration: none;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 2.5rem;
                margin: auto 0 3.5rem 0;
                color: var(--branco);
            }

                .portfolio .botaoAcessar span {
                    color: var(--preto);
                    z-index: 1;
                    margin: 0 2px 7px 0;
                }


    .visualizadorImagens {
        z-index: 2;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #242424a9;
        color: var(--branco);
        
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

        .visualizadorImagens .fechar {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 100;
            text-align: left;
            width: 70%;
        }

        .visualizadorImagens .iconFechar {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .visualizadorImagens img {
            max-width: 80%;
            max-height: 80%;
        }

    .inferior {
        margin-bottom: 4rem;
    }


    footer {
        background-color: var(--azul);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 2rem 1rem 5rem 1rem;
        text-align: center;
        gap: 1rem;
    }

        footer img {
            width: 8rem;
        }


    /* Classes globais: */
    .espelhar {
        transform: scaleX(-1);
    }

    .custom-cursor {
        width: 20px;
        height: 20px;
        background-color: red; /* Cor do cursor */
        border-radius: 50%;
        position: fixed;
        pointer-events: none; /* Evita interferência nos cliques */
        transform: translate(-50%, -50%);
        transition: transform 0.1s linear;
    }

    /* .item *, .botaoContratar *, .subtitulo * {
        transition: all 0.5s ease;
    } */

    /* .itensCaixas .item:hover *:not(.sombra) {
        transform: scale(1.1) translateX(-8px) translateY(-8px);
    }

    .itensCaixas .item:hover .marcaTexto {
        opacity: 1;
    } */

    /* .botaoContratar:hover *:not(.sombra) {
        transform: scale(1.1) translateX(-8px) translateY(-8px);
    } */

    /* .subtitulo:hover .icon {
        transform: rotate(-15deg) scale(1.1);
    }

    .subtitulo:hover h3 {
        transform: scale(1.1);
    } */

@media (min-width: 768px) {

    header {
        padding: 0 var(--margemLateral);
    }

        header .links {
            display: flex;
            gap: 2.5rem;
        }

        header .links a {
            font-size: 0.8rem;
        }

        header .barraMobile {
            display: none;
        }

    .inicio {
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        margin: 2rem 0 4rem 0;
    }

        .inicio .titulo {
            margin-left: calc(5rem + var(--margemLateral));
            margin-right: auto;
            width: 22rem;
        }

            .inicio .titulo .lettering, .inicio .titulo span {
                width: 22rem;
            }



        .imagemPrincipal {
            margin-right: calc(5rem + var(--margemLateral));
            margin-left: auto;
            display: flex;
            width: 30rem;
        }

    /* .itensCaixas {
        width: 100%;
    } */

    .itensLinks {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 6rem;
        justify-content: center;
    }

    /* .divisorPreto .divisor2 {
        display: block;
        margin-left: -2px;
    } */

}